<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="js/util/http.js" type="text/javascript"></script>
  <script src="js/host.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/style_creator.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">  
</head>

<body>
  <div id="credentials" style="display:none;" data="<%= credentials %>"></div>
  
  <header>

      <div class="desktop-header creator-header">
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-md-6">
              <div class="logo">
                <h1>
                  <a href="<%= base_url %>">
                    <img src="<%= base_url %>content/icon/tree.png" alt="logo">
                  </a>
                </h1>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="social-icons">
                <ul>
                  <li>
                    <a href="<%= base_url %>">
                      <img src="<%= base_url %>content/icon/house1.svg" alt="Content-Creator">
                    </a>
                  </li>
                  <li>
                    <a href="<%= base_url %>">
                      <img src="<%= base_url %>content/icon/chat.svg" alt="Content-Creator">
                    </a>
                  </li>
                  <li>
                    <a href="<%= base_url %>">
                      <img src="<%= base_url %>content/icon/bell-empty.svg" alt="Content-Creator">
                    </a>
                  </li>
                  <li class="person">
                    <a href="<%= base_url %>" data-toggle="dropdown">
                      <img src="<%= base_url %>content/icon/user-empty.svg" alt="Content-Creator">          
                    </a>
                    <div class="dropdown-menu"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-header">
        <div class="mobile-padding">
          <div class="row align-items-center">
            <div class="col-sm-6 col-10">
              <div class="logo mob-logo">
                <h1>
                  <a href="<%= base_url %>">
                    <img src="<%= base_url %>content/icon/tree.png" alt="logo">
                  </a>
                </h1>
              </div>
            </div>
            <div class="col-sm-6 col-2 text-right">
              <div class="search">
                <a href="<%= base_url %>"><img src="<%= base_url %>content/icon/search.svg" alt="img"></a>
              </div>
            </div>
          </div>
        </div>
      </div>  
  </header>

  <p></p>  

  <div id="main" class="main-container">
    <div id="videoContainer" class="video-container active">
      <div id="hostDivider" class="hidden"></div>
    </div>
  </div>
  <div class="broadcast-controls-container">
    <div class="rtmp-container" style="display: none;">
      <span id="rtmpLabel">Want to stream to YouTube Live or Facebook Live? Add your RTMP Server URL and Stream
        Name:</span>
      <span class="hidden error" id="rtmpError">The entered RTMP server and/or stream name are not valid. Please
        check the url and try again.</span>
      <span id="rtmpActive" class="hidden active">Your RTMP stream is active!</span>
      <div id="rtmpInputContainer" class="input-container">
        <input id="rtmpServer" type="url" placeholder="rtmp://myrtmpserver/mybroadcastapp">
        <input id="rtmpStream" type="text" placeholder="myStreamName">
      </div>
    </div>
    <button id="startStop" class="btn-broadcast hidden">Start Broadcast</button>
    <div id="urlContainer" class="url-container hidden">
      <div id="broadcastURL" class="opacity-0 no-show"></div>
      <div id="copyURL" class="copy-link" data-clipboard-target="#broadcastURL">
        <span>Get sharable HLS link</span>
      </div>
      <div id="copyNotice" class="tooltip copy opacity-0">
        <span>Link copied to clipboard!</span>
        <span class="triangle-down">▼</span>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto m-auto ml-md-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <ul class="list-inline list-inline-dots mb-2 text-center">      
                  <li class="list-inline-item">
                    <a href="<%= base_url %>creator/pages/refund-cancellation-policy">Refund and Cancelation Policy</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="<%= base_url %>creator/pages/terms-conditions">Terms and Conditions</a>                            
                  </li>
                  <li class="list-inline-item">
                      <a href="<%= base_url %>creator/pages/privacy-policy">Privacy Policy</a>                            
                  </li>
                  <li class="list-inline-item">
                    <a href="<%= base_url %>creator/pages/cookie-policy">18 U.S.C. 22570 Record-Keeping Requirements Compliance Statement</a>                            
                  </li>
                  </ul>
                        
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mob-plus" data-toggle="modal" data-target="#myModal1">
            <div class="plus1">
                <a href="<%= base_url %>"><img src="<%= base_url %>content/icon/plus-mob.png" alt="img"></a>
            </div>
        </div>
    </footer>

    <input type="hidden" name="creator_id" id="creator_id" value="<%= uid %>">
  
</body>

</html>